In [1]:
#1
def even_checker(num):
    if num%2==0:
        print("Even!!")
    else:
        print("Odd!!")
even_checker(5)

Odd!!

In [ ]:
#2
def fibonacci(limit):
    old_value=0
    new=1
    ans=''
    while new<limit:
        temp=old_value
        ans=ans+str(new)
        old_value=new
        new=new+temp

    return ans
        
        
print(fibonacci(20))

11235813

In [ ]:
#3
def foo_moo(num):
    if num%2==0 and num%3==0:
        return "FooMoo"
    elif num%3==0:
        return "Moo"
    elif num%2==0:
        return "Foo"
    else:
        return "boo"
        
        
print(foo_moo(4))

Foo

In [ ]:
#4
def case_count(string1):
    upper=0
    lower=0
    for case in string1:
        if case>='A' and case<='Z':
            upper+=1
        elif case>='a' and case<='z':
            lower+=1
    print("No. of Uppercase characters : ",upper)
    print("No. of Loqercase characters : ",lower)
    
case_count('The quick Sand Man')

No. of Uppercase characters :  3
No. of Loqercase characters :  12

In [ ]:
#5
def calculate_tax(age,salary,designation):
    designation=designation.lower()
    if age<18 or designation=="president":
        return 0
    elif salary<10000:
        return 0
        
    elif salary>=10000 and salary<= 20000:
        tax=salary*5/100
        return tax
    elif salary>20000:
        tax=salary*10/100
        return tax
print(calculate_tax(20, 28000, 'pident'))

2800.0

In [2]:
#6
def daycount(day):
    year=day//365   
    print(year) 
    left=day-(365*year)
    print(left)
    month=left//30
    left=left-(30*month)
    print(year,"years,",month,"months and",left,"days")

daycount(4330)

11
315
11 years, 10 months and 15 days

In [ ]:
#7
def show_palindrome(num):    
    const=1
    end=1
    output=''       
    while const<num:
        output=output+str(const)
        const+=1
     
     
    while const>=end:
        output=output+str(const)
        const-=1
      

    return output  
        
print(show_palindrome(5))

123454321

In [ ]:
#8
def show_palindrome(num):    
    const=1
    end=1
    output=''    
    
    while const<num:
        output=output+str(const)
        output=output+' '
        const+=1          
    while const>=end:
        output=output+str(const)
        output=output+' '
        const-=1     
    return output  

user_input=int(input("please enter a number ="))

for i in range (user_input):
    i+=1
    print(' '*user_input*2,end='')
    user_input-=1
    print(show_palindrome(i))

please enter a number =6
            1
          1 2 1
        1 2 3 2 1
      1 2 3 4 3 2 1
    1 2 3 4 5 4 3 2 1
  1 2 3 4 5 6 5 4 3 2 1

In [ ]:
#alt 8
def show_palindrome(num):    
    const=1
    end=1
    output=''    
    
    while const<num:
        output=output+str(const)
        const+=1          
    while const>=end:
        output=output+str(const)
        const-=1     
    return output  
    
def show_palindromic_triangle(user_input):

    for i in range (user_input):
        i+=1
        print(' '*user_input,end='')
        user_input-=1
        print(show_palindrome(i))

show_palindromic_triangle(3)

   1
  121
 12321

In [ ]:
#9
def area_circumference_generator(radius):
    circumference = 2*(22/7)*radius
    area=(22/7)*radius*radius

    info=(area,circumference)
    return info

print(area_circumference_generator(1))
print("Area of the circle is",area_circumference_generator(1)[0],"and circumference is",area_circumference_generator(1)[1])

(3.142857142857143, 6.285714285714286)
Area of the circle is 3.142857142857143 and circumference is 6.285714285714286

In [ ]:
#10

def make_square(tup):
    tup=list(tup)
    tup[1]=tup[1]+1

    dict1={}
    for i in range(tup[0],tup[1]):
        sqr=int(i)*int(i)        
        dict1.update({i:sqr})
    return dict1

print(make_square((1,3)))

{1: 1, 2: 4, 3: 9}

In [ ]:
#11
def rem_duplicate(tuple1):
    list1=[]
    temp=[]

    for j in tuple1:
        if j not in temp:
            temp.append(j)
        
    temp=tuple(temp)
    return temp
print(rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0)))

(1, 2, 3, 4, 5, 6, 0)

In [ ]:
#12 h
def rem_duplicate(list1):
    count=0
    newlist=[]
    for item in list1:
        if newlist.count(item)<=1:
            newlist.append(item)
        else :
            count+=1    
    print("Removed",count,newlist)
    return newlist

    
rem_duplicate([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])
print('end')

Removed 2 [1, 2, 3, 3, 4, 5, 8, 8]
end

In [ ]:
#13
oparetor=input("Enter your Oparetor=")
num1=float(input("Enter your First Number="))
num2=float(input("Enter your Second Number="))

def basic_cal(oparetor,num1,num2):
    if oparetor=='+':
        return num1+num2
    elif oparetor=='-':
        return num1-num2
    elif oparetor=='*':
        return num1*num2
    elif oparetor=='/':
        return num1/num2
    else:
        return 'Wrong Oparetor !!!'

print(basic_cal(oparetor,num1,num2))

Enter your Oparetor+
Enter your First Number3.2
Enter your Second Number4.3
7.5

In [ ]:
#14
def rem_pos(sentence,pos):
    new_sent=''
    add_sent=''
    for i in range(0,len(sentence)):
        if i%pos !=0 or i==0:
            new_sent=new_sent+sentence[i]
        elif i%pos ==0:
            add_sent=add_sent+sentence[i]

    return new_sent+add_sent
print(rem_pos("I love programming.",3))

I lveprgrmmngo oai.

In [3]:
#15
def grocery(item,location="Dhanmondi"):
    dict1 = {"Rice" : 105,
        "Potato" : 20,
        "Chicken" : 250,
        "Beef" : 510,
        "Oil" : 85}
    sum = 0
    for i in item:
        sum += dict1.get(i) 

    if location.lower() == "dhanmondi" or location == None:
        charge = 30
    else:
        charge = 70
    print(sum+charge)

grocery(["Rice", "Beef", "Rice"], "Mohakhali")

790

In [ ]:
# 23
def splitting_money(money):
    fiveh=money//500
    left=money%500
    oneh=left//100
    left=left%100
    fifty=left//50
    left=left%50
    twienty=left//20
    left=left%20
    ten=left//10
    left=left%10
    five=left//5
    left=left%5
    two=left//2
    left=left%2

    output='500Taka:'+str(fiveh)+'note(s)'+'100Taka:'+str(oneh)+'note(s)'+'50Taka:'+str(fifty)+'note(s)'+'20Taka:'+str(twienty)+'note(s)'+'10Taka:'+str(ten)+'note(s)'+'5Taka:'+str(five)+'note(s)'+'2Taka:'+str(two)+'note(s)'+'1Taka:'+str(left)+'note(s)'

    print(output)
splitting_money(1234)

500Taka:2note(s)100Taka:2note(s)50Taka:0note(s)20Taka:1note(s)10Taka:1note(s)5Taka:0note(s)2Taka:2note(s)1Taka:0note(s)

In [ ]:
def remove_odd(list1):
    flist=[]
    for i in range(len(list1)):
        if list1[i]%2 ==0:
            flist.append(list1[i])
    return flist

print(remove_odd([21, 33, 44, 66, 11, 1, 88, 45, 10, 9]))

[44, 66, 88, 10]

In [ ]:
test = ""
i = 5
j = 0
k = 15
while (i< 10): 
    k-=1
    j = k
    while (j > 10 ):
        if j % 2 == 0:
            test = "<--"
            test = test + str(i) + '3' + "-->" + str(j // 3)
        else:
            test = "-->"
            test = "-->" + str((i // 3)) + test + str(j)
        print(test)
        j -=1
    i+=1

<--53-->4
-->1-->13
<--53-->4
-->1-->11
-->2-->13
<--63-->4
-->2-->11
<--73-->4
-->2-->11
-->2-->11

In [ ]:
i = 10
while(i >= -20):
  if(i < 0):
    test = " != "
    test = str(i//2) + test + str(int(i/2))
  else:
    test = " == "
    test = str(i//2) + test + str(int(i/2))
  print(test)
  i -= 5

5 == 5
2 == 2
0 == 0
-3 != -2
-5 != -5
-8 != -7
-10 != -10